<div
  [ngClass]="{
    slider__home: colorBackground === 'home',
    slider__about: colorBackground === 'about',
    slider__contact: colorBackground === 'contact',
    slider__error: colorBackground === 'error',
    slider: colorBackground === 'default' || !colorBackground
  }"
>
  <h3 class="slider__title">{{ title }}</h3>
  <button class="button">{{ buttonText }}</button>
</div>
