<div class="form__container">
  <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="name">First name:</label>
    <input type="text" id="name" name="name"
    #name="ngModel" [(ngModel)]="data.name"
    required>
    <label for="subname">Last name:</label>
    <input type="text" id="subname" name="subname"
    #subnames="ngModel" [(ngModel)]="data.subnames"
    >
    <label for="country">Last name:</label>
    <input type="text" id="country" name="country"
    #country="ngModel" [(ngModel)]="data.country"
    >
    <button class="button"[disabled]="contactForm.invalid">Send</button>
  </form>
  </div>
