<div class="header">

  <a [routerLink]="['/home']"><img class="header__logo" src="../../../assets/images/logo.png" alt=""></a>


  <ul class="header__links">
    <li><a [routerLink]="['/home']" >Home</a></li>
    <li><a [routerLink]="['/proyects']" >Proyectos</a></li>
    <li><a [routerLink]="['/about']">About</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
  </ul>


</div>

