.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  img {
    width: 40px;
  }

  &__links {
    display: inline-flex;
    list-style: none;

    li {
      padding: 0 30px;
      text-decoration: none;
    }

    a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
