.heart{
  position:absolute;
  left: 30px;
  top: 30px;
  color:grey;
  font-size: 30px;
  transition: 500ms;

  &:hover{
    cursor: pointer;
    color: rgb(185, 184, 184);
    font-size: 28px;
  }}

  .heartFav{
  position:absolute;
  left: 30px;
  top: 30px;
  color:rgb(255, 0, 0);
  font-size: 30px;
  transition: 500ms;
}
