.button {
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 30px;
  background-color: rgb(2, 58, 243);
  color: white;
  border: none;
  transition: 900ms;

  &:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    transition: 900ms;
  }
}
