.listing{
margin: 30px;
padding: 30px 0 ;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

&__img{
  max-width: 800px;

}

&__data{
display: flex;
flex-direction: column;
width: 100%;
flex-wrap: wrap;
justify-content: center;
align-items: center;

h2{
  margin: 10px

}

}

&__container-fav{
  position: relative;
}
}


.button__section{
display: flex;
justify-content: center;
  button{
    margin: 20px
  }
}


.fav__proyect{
  color: grey;
  padding: 50px;
display: flex;
font-size: 8px;
text-transform: uppercase;
flex-direction: column;
  position: fixed;
  left: 10px;
  top: 50%

}
