.proyects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  &__article{
    padding: 40px 0;
  }
  &__img{
    padding: 10px 0;
    max-width: 1200px;
    width: 60%;
    border-radius: 75px;
  }
}
