<div   *ngIf="fav" class="fav__proyect">
<h3> ♥{{fav?.title}}♥</h3>

</div>

<div *ngFor="let proyect of proyects">

<app-proyect-listing [proyectItem]="proyect" (favSelection)="showFav($event)"></app-proyect-listing>

</div>
