<div class="listing">
<div class="listing__container-fav">
  <p (click)="favProyect($event, proyectItem)" class="heart" >♥</p>
<img  class="listing__img"src="{{proyectItem?.coverImage}}" alt="{{proyectItem?.title}}"></div>
<div class="listing__data">
<h2>{{proyectItem?.title}}</h2>
<p>{{proyectItem?.categorie}}</p>
<p>{{proyectItem?.year}}</p>
</div>

<div class="button__section">

  <button class="button" (click)="deleteProyect()">Erase</button>
  <button class="button" (click)="editProyect()">Edit
  </button>

</div>


</div>
