@import './styles/imports';
@import './styles/button';
@import './styles/listing';
@import './styles/animations';


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
font-family: 'Montserrat', sans-serif;
}
