.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__col{
    max-width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: row;

    &-content{
      width: 50%;

    p{
      margin-top: 20px;
      font-size: 13px;
    }

    img{
      width: 40px;
    }

    }




    ul{
      display: inline-flex;
      flex-wrap: wrap;
      list-style: none;

    }

    li{
      font-size: 14px;
      padding: 0 10px;
    }
  }
}
