<div class="footer">
  <div class="footer__col">
  <div class="footer__col-content">
    <img src="../../../assets/images/logo.png" alt="">
    <p>Somos un estudio de diseño gráfico y comunicación corporativa, especializado en Estrategia de marca, Diseño gráfico, Diseño web, Marketing digital, Social media, Campañas SEM y SEO</p>

  </div>
      </div>

  <div class="footer__col">
    <ul>
      <li>Política de privacidad</li>
      <li>Cookies</li>
      <li>Aviso legal</li>
      <li>contacto</li>
    </ul>
  </div>

</div>
